<div class="main-container">
  <main>
    <h1 class="title"><a routerLink=''>Pokedex</a></h1>
    <section class="search">
      <input type="text" placeholder="Search..." [(ngModel)]="pokemonSearch" name="pokemonSearch" (keyup.enter)="search()" /><button (click)="search()">Go</button>
    </section>
    <div class="widthfill"><router-outlet></router-outlet></div>
  </main>
  <footer class="footer">
    <a href="https://mellunar.github.io">Melissa Fernandes</a> | <a href="https://pokeapi.co/">PokéApi</a> - <a href="https://www.pokemon.com/us/">Pokémon</a>
  </footer>
</div>